/* Form base styles */
.form {
  margin: 50px 250px;
  background-color: #f5f4f4;
}

.form__title {
  text-align: center;
  padding-top: 30px;
}

.form__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px;
}

.form__label {
  margin: 20px 0;
}

.form__input,
.form__textarea {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form__textarea {
  height: auto;
}

.form__inputs {
  display: flex;
  justify-content: center;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__actions {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  column-gap: 100px;
}

.form__button {
  padding: 10px 20px;
  background-color: #f5df66;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__button__reset {
  padding: 10px 20px;
  background-color: #e5e5e5;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Error message styles */
.form__error {
  color: red;
  text-align: left;
}

.form__input.ng-invalid.ng-touched {
  border-color: red;
}
