/* Table container styles */
.table-container {
  overflow-x: auto;
  margin: 50px;
  background-color: #fff;
  padding: 20px 50px 10px 50px;
}

.table-container__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.table-container__search-input {
  height: 2rem;
  width: 10rem;
  padding-left: 10px;
  border-radius: 5px;
}

.table-container__add-btn {
  background-color: #f5df66;
  border-radius: 5px;
  border: none;
  padding: 0 30px;
  cursor: pointer;
}

.table-container__loading {
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.table-container__error {
  color: red;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

.table-container__table {
  width: 100%;
  border-collapse: collapse;
}

.table-container__thead-row {
  background-color: #cecece;
}

.table-container__th, .table-container__td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #868585;
}

.table-container__th {
  background-color: #c8c5c5;
}

.table-container__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.table-container__tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.table-container__tooltip-circle {
  width: 20px;
  height: 20px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
  position: relative;
}

.table-container__tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.table-container__tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.table-container__tooltip:hover .table-container__tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Results section styles */
.results-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.results-section__counter {
  margin-left: 50px;
  margin-top: 3rem;
}

.results-section__select {
  margin-right: 3rem;
  margin-top: 3rem;
}

.results-section__select-input {
  height: 30px;
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}
