<section class="table-container">
  <input
    type="text"
    placeholder="Buscar producto..."
    [(ngModel)]="searchTerm"
    (input)="filterProducts()"
    class="search-input"
  />
  <div class="header-actions">
    <button class="add-product-btn" [routerLink]="['/add-product']">
      Agregar Producto
    </button>
  </div>

  <!-- Indicador de carga -->
  <div *ngIf="isLoading" class="loading-indicator">Loading products...</div>

  <!-- Manejo de errores -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Tabla de productos -->
  <table *ngIf="!isLoading && !errorMessage && products.length > 0">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del Producto</th>
        <th>
          Description
          <span class="tooltip-container">
            <span class="tooltip-circle">i</span>
            <span class="tooltip-text">This is the product description</span>
          </span>
        </th>
        <th>
          Date Release
          <span class="tooltip-container">
            <span class="tooltip-circle">i</span>
            <span class="tooltip-text">This is the release date</span>
          </span>
        </th>
        <th>
          Date Revision
          <span class="tooltip-container">
            <span class="tooltip-circle">i</span>
            <span class="tooltip-text">This is the revision date</span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td>
          <img [src]="product.logo" alt="Logo" class="logo" />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release | date : "dd/MM/yyyy" }}</td>
        <td>{{ product.date_revision | date : "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Segunda sección para el contador de resultados y el selector -->
<section
  class="second-section"
  *ngIf="!isLoading && !errorMessage && products.length > 0"
>
  <p class="results-counter">{{ getTotalProducts() }} Resultados</p>

  <aside class="select-input">
    <select
      title="select no of items"
      name="select for number of items"
      id="limitSelect"
      (change)="onLimitChange($event)"
    >
      <option value="5" [selected]="selectedLimit === 5">5</option>
      <option value="10" [selected]="selectedLimit === 10">10</option>
      <option value="15" [selected]="selectedLimit === 15">15</option>
    </select>
  </aside>
</section>
